body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(224, 1, 195); text-decoration:underline;}

header {
    background-color: #ecd4e7;
}

.bar {
    background-color: #ff88ef;
    padding:10px;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    min-height: 100px;
    border-top: solid 1px #ff88ef;
}

.anchors {
    border-left: solid 1px #ff88ef;
    padding-left: 20px;
}

.sidebar {
    border-right: solid 1px #ff88ef;
    padding-left: 20px;
}

figure {
    text-align: center;
}

inframe { 
    text-align: center;
    display: flexbox;
}

h6 {
    padding-left: 100px;
    text-align: justify;
    display: flex;
}
